.bmp-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.bmp-navbar a {
  color: #343a40;
}

.bmp-navbar .bmp-profile-menu {
  width: auto;
}

.bmp-navbar .bmp-profile-menu .mat-icon {
  font-size: 24px !important;
  margin-right: 10px;
}

.bmp-navbar.bmp-navbar-transparent {
  background: rgba(0, 0, 0, 0.3);
}

.bmp-navbar.bmp-navbar-transparent a {
  color: white;
}

.bmp-navbar.bmp-navbar-transparent .bmp-profile-menu * {
  color: white;
}

.bmp-profile-menu-body {
  z-index: 1030;
}
