<div id="image-row" class="view">
    <div class="full-bg-img">
        <div class="mask rgba-black-slight flex-center">
            <div class="container">
                <div class="white-text text-center wow fadeInUp">
                    <h1>BuyMyPositions</h1>
                    <h5>Tracking made worth it</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="description-row" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p align="justify">
                    Wouldn't it be nice if you could earn by just turning on your GPS service? What? Are you already
                    selling your data to use the buggy feisbok app for free? Well, you could sell it to us and make
                    actual money! Well, not actually actual money, but IOTA! You will be part of the blockchain hype,
                    and you will be able to tell your friends that you are using a machine-learning backed progressive
                    tangle-based blockchain in exchange of big data analysis. Oh mate, aren't you gonna get lucky
                    tonight :-)
                </p>
                <p align="justify">
                    This website is faithful and compliant with the mighty Eurobean Onion law commonly known as MMORPG.
                    All the data you submit will be protected by us. The people you trust. We will fight for it, we will
                    die for it, no one that is not paying enough is going to get it. Don't worry. Just sell your
                    positions, we're not the ones that sent the guy in a strange T-shirt that has been following you
                    since you registered.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="reviews-row" class="py-5">
    <div class="full-bg-img">
        <div class="mask flex-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 my-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Giovanni M.</h4>
                                <div>
                                    <i class="fa fa-star review-star"></i>
                                    <i class="fa fa-star review-star"></i>
                                    <i class="fa fa-star review-star"></i>
                                    <i class="fa fa-star review-star"></i>
                                    <i class="fa fa-star review-star"></i>
                                </div>
                                <p>
                                    <i class="fa fa-quote-left"></i>
                                    This platform is exactly what my company would need. I wish the developers were my
                                    students!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Antonio S.</h4>
                                <div>
                                    <i class="fa fa-star review-star"></i>
                                    <i class="fa fa-star review-star"></i>
                                    <i class="fa fa-star review-star"></i>
                                    <i class="fa fa-star review-star"></i>
                                    <i class="fa fa-star review-star"></i>
                                </div>
                                <p>
                                    <i class="fa fa-quote-left"></i>
                                    Looks like there is someone that actually read the entire Angular Hero Guide. Nice
                                    move, authors!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Magnifico R.</h4>
                                <div>
                                    <i class="fa fa-star review-star"></i>
                                    <i class="fa fa-star review-star"></i>
                                    <i class="fa fa-star review-star"></i>
                                    <i class="fa fa-star review-star"></i>
                                    <i class="fa fa-star review-star"></i>
                                </div>
                                <p>
                                    <i class="fa fa-quote-left"></i>
                                    I could never think something like that. The Politecnico di Torino is practically at
                                    the same level of the MIT now!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="about-row" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>About us</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 my-3">
                <div class="card testimonial-card">
                    <div class="card-up indigo lighten-1">
                    </div>
                    <div class="avatar mx-auto">
                        <img [src]="massimo" class="rounded-circle">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Massimo Tumolo</h4>
                        <hr>
                        <p>
                            <i class="fa fa-quote-left"></i>
                            Entrepreneur, started selling positions door by door when he was 16. After working from
                            Cambrije Analytica, he decided to start a legal activity.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 my-3">
                <div class="card testimonial-card">
                    <div class="card-up aqua-gradient">
                    </div>
                    <div class="avatar mx-auto">
                        <img [src]="angelo" class="rounded-circle">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Angelo Filannino</h4>
                        <hr>
                        <p>
                            <i class="fa fa-quote-left"></i> 
                            CMON! Just turn on your GPS antenna and send us your positions!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 my-3">
                <div class="card testimonial-card">
                    <div class="card-up indigo lighten-1">
                    </div>
                    <div class="avatar mx-auto">
                        <img [src]="michelangelo" class="rounded-circle">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Michelangelo Sorice</h4>
                        <hr>
                        <p><i class="fa fa-quote-left"></i> Young dreamer fighting with though reality. Despite his strong ideals
                            decided to join the team stating "Ideals are wonderful but you can't buy beer with them!"
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 my-3">
                <div class="card testimonial-card">
                    <div class="card-up aqua-gradient">
                    </div>
                    <div class="avatar mx-auto">
                        <img [src]="kevin" class="rounded-circle">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Kevin Corizi</h4>
                        <hr>
                        <p><i class="fa fa-quote-left"></i> 
                            Bending CSS to my will for a small living, I will change the world one responsive layout at a time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
